[Desktop Entry]
Type=Application
Version=1.0
Name=KDiskInfo
Icon=KDiskInfo
Exec=pkexec KDiskInfo
Terminal=false
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
